.maincontainer{
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.mnJk1gw6rnURKbzG1tZenwHaHa&pid=Api&P=0&h=180");
    height:auto;
  }
  .contact-us-container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
     
    }
    
    .contact-form {
      display: flex;
      flex-direction: column;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
    
    textarea {
      height: 150px;
    }
    
    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #0056b3;
    }