.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    /* max-width: 1200px; */
    margin: 0 auto;
    text-align: center;
  }